/* ===========================
--- Index
============================ */
#movietitle {
    color: #000;
}

#searchresults .col-md-3 .well {
    background: #000;
    border: none;
}

@media(min-width:1000px) {
    #searchresults img {
        width: 175px;
    }

    #searchresults .col-md-3 .well {
        background: #000;
        border: none;
        min-height: 400px;
        max-height: 400px;
    }

    #searchresults .col-md-3 img {
        min-height: 250px;
        max-height: 250px;
    }
}

/* ===========================
--- MovieInfo
============================ */
#movieinfo {
    text-align: center;
    margin: auto;
}

#movieinfo .well {
    background: #000;
}

.list-group-item {
    background: #000;
}